--
-- PostgreSQL database dump
--

\restrict kwoV5rPfevayuVbjpOnDDccHMCYVHNTCBbym2VCtOHajADKdq5Wy6gpcff3qtdM

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: airplane; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.airplane (
    samolot_id character varying(26) NOT NULL,
    numer_samolotu character varying(50),
    model character varying(50),
    producent character varying(50),
    liczba_miejsc integer,
    rok_produkcji integer,
    status_techniczny character varying(30)
);


ALTER TABLE public.airplane OWNER TO admin;

--
-- Name: airport; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.airport (
    airport_id character varying(5) NOT NULL,
    airport_name character varying(150),
    city character varying(100),
    state character varying(100),
    country character varying(100),
    latitude numeric,
    longitude numeric
);


ALTER TABLE public.airport OWNER TO admin;

--
-- Name: complaint; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.complaint (
    complaint_id character varying(26) NOT NULL,
    complaint_category character varying(50),
    complaint_description character varying(4000),
    complaint_status character varying(20),
    report_date date,
    resolution_date date,
    customer_id character varying(29)
);


ALTER TABLE public.complaint OWNER TO admin;

--
-- Name: crew; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.crew (
    crew_id integer NOT NULL,
    crew_name character varying(50),
    crew_type character varying(30)
);


ALTER TABLE public.crew OWNER TO admin;

--
-- Name: crew_member; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.crew_member (
    crew_member_id integer NOT NULL,
    crew_id integer NOT NULL,
    first_name character varying(50),
    last_name character varying(50),
    role character varying(50),
    license_number character varying(50),
    employment_date date,
    status character varying(30)
);


ALTER TABLE public.crew_member OWNER TO admin;

--
-- Name: customer; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.customer (
    customer_id character varying(29) NOT NULL,
    first_name character varying(29),
    last_name character varying(29),
    gender character varying(26),
    age integer,
    nationality character varying(128),
    phone character varying(20),
    birth_date date,
    document_number character varying(50),
    registration_date date,
    loyalty_status character varying(20)
);


ALTER TABLE public.customer OWNER TO admin;

--
-- Name: customer_account; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.customer_account (
    account_id character varying(29) NOT NULL,
    login character varying(50),
    email character varying(100),
    password_hash character varying(128),
    login_date date,
    consents character varying(50),
    preferences character varying(50)
);


ALTER TABLE public.customer_account OWNER TO admin;

--
-- Name: czlonek_zalogi_id_czlonka_zalogi_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.czlonek_zalogi_id_czlonka_zalogi_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.czlonek_zalogi_id_czlonka_zalogi_seq OWNER TO admin;

--
-- Name: czlonek_zalogi_id_czlonka_zalogi_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.czlonek_zalogi_id_czlonka_zalogi_seq OWNED BY public.crew_member.crew_member_id;


--
-- Name: fare; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.fare (
    fare_id integer NOT NULL,
    fare_name character varying(50),
    opis text,
    refundable boolean,
    changeable boolean,
    base_price numeric(10,2)
);


ALTER TABLE public.fare OWNER TO admin;

--
-- Name: flight; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.flight (
    flight_id bigint NOT NULL,
    flight_number integer,
    flight_date date,
    start_airport character varying(5),
    end_airport character varying(5),
    scheduled_departure integer,
    actual_departure integer,
    scheduled_arrival integer,
    actual_arrival integer,
    cancellation_status integer,
    cancellation_code character(1),
    scheduled_flight_time integer,
    actual_flight_time integer,
    dystans integer,
    samolot_id character varying(26),
    zaloga_id integer
);


ALTER TABLE public.flight OWNER TO admin;

--
-- Name: lot_lot_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.flight ALTER COLUMN flight_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.lot_lot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lot_samolot_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.lot_samolot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lot_samolot_id_seq OWNER TO admin;

--
-- Name: lot_samolot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.lot_samolot_id_seq OWNED BY public.flight.samolot_id;


--
-- Name: payment; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.payment (
    payment_id integer NOT NULL,
    reservation_id integer NOT NULL,
    amount numeric(10,2),
    currency character varying(10),
    payment_method character varying(30),
    payment_status character varying(30),
    payment_date timestamp without time zone,
    transaction_id character varying(100)
);


ALTER TABLE public.payment OWNER TO admin;

--
-- Name: platnosc_platnosc_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.platnosc_platnosc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.platnosc_platnosc_id_seq OWNER TO admin;

--
-- Name: platnosc_platnosc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.platnosc_platnosc_id_seq OWNED BY public.payment.payment_id;


--
-- Name: reservation; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.reservation (
    reservation_id bigint NOT NULL,
    reservation_status character varying(20),
    creation_date date,
    modification_date date,
    total_price numeric(10,2),
    reservation_code character varying(20),
    luggage character varying(50),
    account_id character varying(29) NOT NULL,
    flight_id bigint NOT NULL,
    fare_id integer NOT NULL,
    ticket_number character varying(30),
    ticket_status character varying(30),
    seat character varying(5),
    complaint_id character varying(26)
);


ALTER TABLE public.reservation OWNER TO admin;

--
-- Name: rezerwacja_rezerwacja_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.reservation ALTER COLUMN reservation_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.rezerwacja_rezerwacja_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: samolot_samolot_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.samolot_samolot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.samolot_samolot_id_seq OWNER TO admin;

--
-- Name: samolot_samolot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.samolot_samolot_id_seq OWNED BY public.airplane.samolot_id;


--
-- Name: taryfa_taryfa_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.taryfa_taryfa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.taryfa_taryfa_id_seq OWNER TO admin;

--
-- Name: taryfa_taryfa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.taryfa_taryfa_id_seq OWNED BY public.fare.fare_id;


--
-- Name: zaloga_zaloga_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.zaloga_zaloga_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.zaloga_zaloga_id_seq OWNER TO admin;

--
-- Name: zaloga_zaloga_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.zaloga_zaloga_id_seq OWNED BY public.crew.crew_id;


--
-- Name: airplane samolot_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.airplane ALTER COLUMN samolot_id SET DEFAULT nextval('public.samolot_samolot_id_seq'::regclass);


--
-- Name: crew crew_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.crew ALTER COLUMN crew_id SET DEFAULT nextval('public.zaloga_zaloga_id_seq'::regclass);


--
-- Name: crew_member crew_member_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.crew_member ALTER COLUMN crew_member_id SET DEFAULT nextval('public.czlonek_zalogi_id_czlonka_zalogi_seq'::regclass);


--
-- Name: fare fare_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.fare ALTER COLUMN fare_id SET DEFAULT nextval('public.taryfa_taryfa_id_seq'::regclass);


--
-- Name: flight samolot_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flight ALTER COLUMN samolot_id SET DEFAULT nextval('public.lot_samolot_id_seq'::regclass);


--
-- Name: payment payment_id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment ALTER COLUMN payment_id SET DEFAULT nextval('public.platnosc_platnosc_id_seq'::regclass);


--
-- Name: crew_member czlonek_zalogi_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.crew_member
    ADD CONSTRAINT czlonek_zalogi_pkey PRIMARY KEY (crew_member_id);


--
-- Name: customer klient_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT klient_pkey PRIMARY KEY (customer_id);


--
-- Name: customer_account konto_klienta_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customer_account
    ADD CONSTRAINT konto_klienta_pkey PRIMARY KEY (account_id);


--
-- Name: flight lot_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flight
    ADD CONSTRAINT lot_pkey PRIMARY KEY (flight_id);


--
-- Name: airport lotnisko_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.airport
    ADD CONSTRAINT lotnisko_pkey PRIMARY KEY (airport_id);


--
-- Name: payment platnosc_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT platnosc_pkey PRIMARY KEY (payment_id);


--
-- Name: complaint reklamacja_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.complaint
    ADD CONSTRAINT reklamacja_pkey PRIMARY KEY (complaint_id);


--
-- Name: reservation rezerwacja_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT rezerwacja_pkey PRIMARY KEY (reservation_id);


--
-- Name: airplane samolot_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.airplane
    ADD CONSTRAINT samolot_pkey PRIMARY KEY (samolot_id);


--
-- Name: fare taryfa_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.fare
    ADD CONSTRAINT taryfa_pkey PRIMARY KEY (fare_id);


--
-- Name: crew zaloga_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.crew
    ADD CONSTRAINT zaloga_pkey PRIMARY KEY (crew_id);


--
-- Name: crew_member fk_czlonek_zalogi; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.crew_member
    ADD CONSTRAINT fk_czlonek_zalogi FOREIGN KEY (crew_id) REFERENCES public.crew(crew_id);


--
-- Name: customer_account fk_konto_klienta_klient; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.customer_account
    ADD CONSTRAINT fk_konto_klienta_klient FOREIGN KEY (account_id) REFERENCES public.customer(customer_id);


--
-- Name: flight fk_lot_samolot; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flight
    ADD CONSTRAINT fk_lot_samolot FOREIGN KEY (samolot_id) REFERENCES public.airplane(samolot_id);


--
-- Name: flight fk_lot_zaloga; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flight
    ADD CONSTRAINT fk_lot_zaloga FOREIGN KEY (zaloga_id) REFERENCES public.crew(crew_id);


--
-- Name: flight fk_lotnisko_end; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flight
    ADD CONSTRAINT fk_lotnisko_end FOREIGN KEY (end_airport) REFERENCES public.airport(airport_id);


--
-- Name: flight fk_lotnisko_start; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.flight
    ADD CONSTRAINT fk_lotnisko_start FOREIGN KEY (start_airport) REFERENCES public.airport(airport_id);


--
-- Name: payment fk_platnosc_rezerwacja; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT fk_platnosc_rezerwacja FOREIGN KEY (reservation_id) REFERENCES public.reservation(reservation_id);


--
-- Name: complaint fk_reklamacja_klient; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.complaint
    ADD CONSTRAINT fk_reklamacja_klient FOREIGN KEY (customer_id) REFERENCES public.customer(customer_id);


--
-- Name: reservation fk_reservation_complaint; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT fk_reservation_complaint FOREIGN KEY (complaint_id) REFERENCES public.complaint(complaint_id);


--
-- Name: reservation fk_reservation_fare; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT fk_reservation_fare FOREIGN KEY (fare_id) REFERENCES public.fare(fare_id);


--
-- Name: reservation fk_rezerwacja_konto; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT fk_rezerwacja_konto FOREIGN KEY (account_id) REFERENCES public.customer_account(account_id);


--
-- Name: reservation fk_rezerwacja_lot; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT fk_rezerwacja_lot FOREIGN KEY (flight_id) REFERENCES public.flight(flight_id);


--
-- PostgreSQL database dump complete
--

\unrestrict kwoV5rPfevayuVbjpOnDDccHMCYVHNTCBbym2VCtOHajADKdq5Wy6gpcff3qtdM

